$coin-green: #2EBD85;
$coin-red: #F6465D;

main {
  background-image: url("../../../assets/banner.jpg");
}

#main-wrap {
  width: min(100% - 2rem, 100%);
  margin-inline: auto;
}

.trade-wrap {
  padding: 1em;
  gap: 1em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // Title
  .title-wrap {
    display: flex;
    align-items: center;

    font-weight: 500;

    .mat-icon {
      font-size: 1.5em;
    }

    .change {
      margin-left: 1em;
    }
  }

  // Form
  .form-wrap {
    align-self: center;
    width: 100%;
    height: 100%;

    form {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      height: 100%;

      select, input {
        display: block;
        width: 100%;
        padding: 0 10px;

        color: white;
        font-size: large;
        font-weight: 300;

        background-color: rgba(255, 255, 255, 0.07);

        outline: none;
        border: none;
      }

      select {
        height: 30px;

        option {
          color: black;
          background-color: rgba(255, 255, 255, 0.07);
        }
      }

      input {
        height: 50px;
      }

      .trade-option {
        padding-right: 1em !important;
      }

      .trade-date-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5em;

        * {
          color: white;
        }

        // Calendar
        ::ng-deep .mat-form-field {

          .mat-form-field-flex {
            border-radius: 3px;
            background-color: rgba(255, 255, 255, 0.07);
          }

          [id^=mat-input-] {
            background-color: transparent;
            padding: 0;
          }


        }

        // Time
        input[type="time"]::-webkit-calendar-picker-indicator {
          filter: invert(100%);
        }

        #time {
          height: 80%;
        }
      }

      // Buy & Sell Buttons
      .button-wrap {
        margin-top: auto;
        width: 100%;
        display: flex;
        gap: 10px;
        align-self: center;
        $trade-color: #ffffff;


        .buy, .sell {
          color: $trade-color !important;
          font-weight: 600;
          width: 100%;
        }

        .buy {
          background-color: $coin-green;
        }

        .sell {
          background-color: $coin-red;
        }
      }

      .empty-format {
        margin-top: auto;
      }

      .input-wrap {
        display: flex;
        justify-content: center;
        align-items: center;

        .action {
          height: 50px;
          font-size: 1.7em;
          cursor: pointer;
          user-select: none;
          -webkit-user-select: none;

          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgba(255, 255, 255, 0.07);
        }
      }

      .invalid-field {
        margin-top: -0.75em;
        margin-bottom: 0.5em;
      }

      .target-price {
        height: 50px;
        width: 6em;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 0.8em;
        padding-inline: 0.1em;

        user-select: none;
        -webkit-user-select: none;

        color: grey;

        background-color: rgba(255, 255, 255, 0.07);
      }
    }
  }
}

// Desktop
@media screen and (min-width: 900px) {
  #main-wrap {
    width: 70%;

    display: grid;
    grid-template-columns: 1fr 1fr;

    height: 600px;
    background-color: #181818;
  }

  .info-wrap {
    border-right: 1px solid rgba(128, 128, 128, 0.47);
    border-bottom: none;

    .coin-image {
      width: 10em;
    }
  }

  .trade-wrap {
    .form-wrap {
      width: 100%;
    }
  }
}
