$coin-green: #2EBD85;
$coin-red: #F6465D;

main {
  background-image: url("../../../assets/banner.jpg");
}

#main-wrap {
  width: min(100% - 2rem, 100%);
  margin-inline: auto;
}


// Desktop
@media screen and (min-width: 900px) {
  #main-wrap {
    width: 70%;

    display: grid;
    grid-template-columns: 1fr 1fr;

    height: 600px;
    background-color: #181818;
  }
}
