<div id="main-wrap" class="appear">
  <!-- Info -->
  <div class="info-wrap">
    <img class="coin-image" src="{{coin.image['large']}}" alt="{{coin.id}}-img">
    <div class="coin-name">{{coin.name}}</div>
    <div class="coin-description">{{this.coin.description['en'].split('. ')[0] + '.'}}</div>
    <div class="coin-info-wrap">
      <span class="info-title">Rank:</span>
      <span class="info-value">{{coin.market_cap_rank}}</span>
    </div>
    <div class="coin-info-wrap">
      <span class="info-title">Current Price:</span>
      <span class="info-value">$ {{coin.market_data.current_price['usd']}}</span>
    </div>
    <div class="coin-info-wrap">
      <span class="info-title">Market Cap:</span>
      <span class="info-value">$ {{coin.market_data.market_cap['usd']}}M</span>
    </div>
  </div>

  <!-- Trade  -->
  <div class="trade-wrap">
    <div class="title-wrap">
      <mat-icon [inline]="true">swap_vert</mat-icon>
      <span class="symbol">{{coin.symbol | uppercase}}/USD</span>
      <span class="change"
            [ngStyle]="{'color': (coin.market_data.price_change_percentage_24h >= 0) ? '#0ecb81' : 'red'}">
        {{coin.market_data.price_change_percentage_24h > 0 ?
        '+' + (coin.market_data.price_change_percentage_24h | roundNumber) :
        coin.market_data.price_change_percentage_24h | roundNumber}}%
      </span>
    </div>

    <!--  TODO: merge two forms -->
    <div class="form-wrap">
      <form>
        <select class="trade-option" name="trade-option">
          <option value="limit" selected>Limit</option>
          <option value="market">Market</option>
        </select>
        <input type="text" placeholder="Amount (EUR)" id="amount-eur" formControlName="password">
        <input type="text" placeholder="Amount ({{coin.symbol | uppercase}})" id="amount-coin"
               formControlName="password">

        <!--  TODO: ngIf trade-option=limit -->
        <input type="time" id="time" name="time"
               min="00:00" max="24:00" required>
      </form>

      <!--  TODO: ngIf trade-option=limit -->
<!--      <mat-form-field appearance="fill">-->
<!--        <mat-label>Choose a date</mat-label>-->
<!--        <input matInput [matDatepicker]="picker">-->
<!--        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--        <mat-datepicker #picker></mat-datepicker>-->
<!--      </mat-form-field>-->
    </div>


    <div class="button-wrap">
      <button mat-raised-button class="buy">Buy {{coin.symbol | uppercase}}</button>
      <button mat-raised-button class="sell">Sell {{coin.symbol | uppercase}} </button>
    </div>
  </div>
</div>
