<div id="main-wrap" class="appear">
  <!-- Info -->
  <div class="info-wrap">
    <img class="coin-image" src="{{coin.image['large']}}" alt="{{coin.id}}-img">
    <div class="coin-name">{{coin.name}}</div>
    <div class="coin-description">{{this.coin.description['en'].split('. ')[0] + '.'}}</div>
    <div class="coin-info-wrap">
      <span class="info-title">Rank:</span>
      <span class="info-value">{{coin.market_cap_rank}}</span>
    </div>
    <div class="coin-info-wrap">
      <span class="info-title">Current Price:</span>
      <span class="info-value">$ {{coin.market_data.current_price['usd'] | numberWithCommas}}</span>
    </div>
    <div class="coin-info-wrap">
      <span class="info-title">Market Cap:</span>
      <span class="info-value">$ {{coin.market_data.market_cap['usd'] | numberWithCommas}}</span>
    </div>
  </div>

  <!-- Trade  -->
  <div class="trade-wrap">
    <!-- Title  -->
    <div class="title-wrap">
      <mat-icon [inline]="true">swap_vert</mat-icon>
      <span class="symbol">{{coin.symbol | uppercase}}/USD</span>
      <span class="change"
            [ngStyle]="{'color': (coin.market_data.price_change_percentage_24h >= 0) ? '#0ecb81' : 'red'}">
        {{coin.market_data.price_change_percentage_24h > 0 ?
        '+' + (coin.market_data.price_change_percentage_24h | roundNumber) :
        coin.market_data.price_change_percentage_24h | roundNumber}}%
      </span>
    </div>

    <!-- Form  -->
    <div class="form-wrap">
      <form [formGroup]="tradeForm">
        <div class="empty-format"></div>

        <!-- Option  -->
        <select (change)="toggleOption()" class="trade-option" name="trade-option" formControlName="action">
          <option value="limit" selected>Limit</option>
          <option value="market">Market</option>
          <option value="date">Date Limit</option>
        </select>

        <!-- Inputs  -->
        <div class="input-wrap">
          <button mat-button class="action" (click)="decrease('currency')">-</button>
          <input class="amount" type="text" placeholder="Amount (USD)"
                 autocomplete="off"
                 formControlName="currency"
                 (input)="updateCrypto()"/>
          <button mat-button class="action" (click)="increase('currency')">+</button>
        </div>
        <small class="invalid-field" *ngIf="submitted && tradeForm.controls['currency'].hasError('required')">
          Field is required!
        </small>

        <div class="input-wrap">
          <button mat-button class="action" (click)="decrease('crypto')">-</button>
          <input class="amount" type="text" placeholder="Amount ({{coin.symbol | uppercase}})"
                 autocomplete="off"
                 formControlName="crypto"
                 (input)="updateCurrency()"/>
          <button mat-button class="action" (click)="increase('crypto')">+</button>
        </div>

        <small class="invalid-field" *ngIf="submitted && tradeForm.controls['crypto'].hasError('required')">
          Field is required!
        </small>

        <div *ngIf="action === 'limit'" class="trade-market-wrap">
          <div class="input-wrap">
            <span class="target-price">Target</span>
            <input class="amount" type="text" placeholder="Target price ({{coin.symbol | uppercase}})"
                   autocomplete="off"
                   formControlName="targetPrice"/>
          </div>

          <small class="invalid-field" *ngIf="submitted && tradeForm.controls['targetPrice'].hasError('required')">
            Field is required!
          </small>
        </div>

        <div *ngIf="action === 'date'" class="trade-date-wrap">
          <!-- Date  -->
          <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <!-- Time  -->
          <input type="time" id="time" name="time" min="00:00" max="24:00" formControlName="time">
        </div>

        <!-- Buy & Sell  -->
        <div class="button-wrap">
          <button (click)="onSubmit('buy')" mat-raised-button class="buy">Buy {{coin.symbol | uppercase}}</button>
          <button (click)="onSubmit('sell')" mat-raised-button class="sell">Sell {{coin.symbol | uppercase}} </button>
        </div>
      </form>

    </div>
  </div>
</div>
