header {
  user-select: none;
  -webkit-user-select: none;
}

.header-container {
  display: flex;
  align-items: center;

  height: 100%;
  margin: 0 auto;
  margin-inside: auto;
  width: min(100% - 2rem, 100%);

  .title-wrap {
    flex-grow: 1;
    padding: 15px 0;

    span {
      color: gold;
      font-size: 1.5rem;
      font-weight: 700;
      letter-spacing: 0.001px;

      cursor: pointer;
    }
  }

  .join-container {
    //border: 1px solid blue;
    font-weight: 400;
    font-size: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;



    .login, .register {
      cursor: pointer;
      transition: .3s color;

      &:hover, &:active {
        color: scale-color(white, $lightness: -30%);
      }
    }

    .icon-wrap {
      transition: .3s color;

      display: flex;
      align-items: center;
      cursor: pointer;
      gap: 0.25em;

      .mat-icon {
        font-size: 1.5em;

        color: #FFA500;
      }

      &:hover, &:active {
        color: scale-color(white, $lightness: -30%) !important;
      }
    }
  }
}



// Desktop
@media screen and (min-width: 900px){
  .header-container {
    width: 70%
  }
}


