$header-bg-color: #14161A;
$header-font-color: gold;

header {
  background-color: $header-bg-color;
}


.header-container {
  display: flex;
  align-items: center;

  height: 100%;
  width: 70%;
  margin: 0 auto;
  //border: 2px solid blue;
}

.header-title {
  padding: 15px 0;

  color: $header-font-color;
  font-size: 1.5rem;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  letter-spacing: 0.001px;
}
