header {
  //border: 1px solid blue;
}

.header-container {
  display: flex;
  align-items: center;

  height: 100%;
  width: 70%;
  margin: 0 auto;

  font-family: Monestratt, sans-serif;
}

.header-title {
  flex-grow: 1;
  padding: 15px 0;

  cursor: pointer;

  color: gold;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.001px;
}

.join-container {
  color: white;
  font-weight: 400;
  font-size: 1.5rem;

  display: flex;
  gap: 15px;

  .login, .register {
    cursor: pointer;
  }
}

