<div id="main">
  <div id="wrap" class="appear">
    <h1 class="page-title">Profile</h1>
    <hr style="width: 90%" />
      <img class="profile-picture" src="../../../assets/Wolf.jfif" alt="profile" />
      <div class="email">{{user?.email}}</div>

    <div class="id">
      {{ user?.uid | truncate:[14, '...'] }}
    </div>

    <div class="trades-wrap">
      <div class="trades-number">{{tradesLength}}</div>
      <div class="trades-text">Trades</div>
    </div>

<!--    <div class="trades-wrap">-->
<!--      <div class="trades-number">{{favouritesLength}}</div>-->
<!--      <div class="trades-text"> Fav Crypto</div>-->
<!--    </div>-->

    <div class="joined-wrap">
      Joined {{user?.joinedDate}}
    </div>

  </div>
</div>

