<div id="main">
  <div id="wrap" class="appear">
    <h1 class="page-title">Profile</h1>
    <hr style="width: 90%" />
      <img class="profile-picture" src="../../../assets/Wolf.jfif" alt="profile" />

      <div class="email">
        {{email()}}
      </div>

    <div class="id">
      {{ uid() | truncate:[14, '...'] }}
    </div>

    <div class="trades-wrap">
      <div class="trades-number">1069</div>
      <div class="trades-text">Trades</div>
    </div>

    <div class="trades-wrap">
      <div class="trades-number">10</div>
      <div class="trades-text"> Fav Crypto</div>
    </div>


<!--    <button class="edit-wrap">-->
<!--      <div>Edit</div>-->
<!--      <mat-icon [inline]="true">mode_edit_outline</mat-icon>-->
<!--    </button>-->

    <!-- TODO: Get joined date -->
    <div class="joined-wrap">
      Joined May,2021
    </div>

  </div>
</div>

