.crypto-table-container {
  width: 70%;
  margin: 0 auto;

  border: 1px solid red;
}


.title {
  width: 100%;
  text-align: center;
  margin: 0.5em 0;

  color: white;
  font-size: 2em;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}


.table-wrap {
  width: 100%;
  height: 600px;

  margin-top: 20px;

  //border: 1px solid blue;
}

table {
  font-family: Montserrat, sans-serif;
  border-collapse: collapse;
}

table th {
  width: 400px;
  height: 40px;
  background-color: orange;
}

table td {
  color: white;
  text-align: center;
  font-weight: 400;
}

table th:first-child {
  border-top-left-radius: 5px;
}

table th:last-child {
  border-top-right-radius: 5px;
}
