<div class="crypto-table-container">
  <div class="title">  Cryptocurrency Prices by Market Cap</div>

  <div class="table-wrap">
      <table>
          <thead>
              <th>Coin</th>
              <th>Price</th>
              <th>24h Change</th>
              <th>Market Cap</th>
          </thead>
          <tbody>
              <tr>
                <td>BTC</td>
                <td>47,876$</td>
                <td>+2,52%</td>
                <td>4 Billion</td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
