.crypto-table-wrap {
  width: 70%;
  height: 400px;
  margin: 0 auto;

  border: 1px solid red;
}


.title {
  width: 100%;
  text-align: center;
  margin: 0.5em 0;

  color: white;
  font-size: 2em;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}
