<div id="main-wrap">
  <form class="appear" [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <h3>Login Here</h3>

    <label for="email">Email</label>
    <input type="text" placeholder="Enter your email" id="email" formControlName="email">
    <small class="invalid-field" *ngIf="submitted && loginForm.controls['email'].hasError('required')">
      The email field is required!
    </small>

    <label for="password">Password</label>
    <input type="password" placeholder="Enter your password" id="password" formControlName="password">

    <small class="invalid-field" *ngIf="submitted && loginForm.controls['password'].hasError('required')">
      The password field is required!
    </small>


    <div class="join-container">
      <div class="invalid-field">
        {{error}}
      </div>

      <button *ngIf="!loading">
        Login
      </button>

      <mat-spinner *ngIf="loading"  [diameter]="35"></mat-spinner>
    </div>
  </form>
</div>
