$bg-color: rgba(20, 22, 26, 0.32);
$coin-green: #2EBD85;
$coin-red: #F6465D;

main {
  background-image: url("../../../assets/banner.jpg");
  height: 100vh;
}

#main-wrap {
  width: 100%;
  height: 100vh;
  margin-inline: auto;

  background-color: $bg-color;
  backdrop-filter: blur(5px);
}

.page-title {
  padding-top: 0.25em;
  margin: 0;
}

.trades-container {
  padding: 1em;
}

.trade-wrap {
  margin-block: 1em;
  letter-spacing: 0.5px;

  .action-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
  }

  .icon {
    width: 1em;
    cursor: pointer;
  }

  mat-divider {
    background-color: #3f3e3e;
  }

  .title-wrap, .action-wrap, .amount-wrap, .price-wrap {
    display: flex;
    justify-content: space-between;
  }

  .title-wrap {
    margin-bottom: 0.5em;

    .name {
      font-weight: 600;
    }

    .date {
      color: #7F8690;
      font-size: 0.9em;
      font-weight: 500;
    }
  }

  .action-wrap {
    margin-bottom: 0.5em;

    .action {
      font-weight: 600;
    }

    .status {
      padding: 0.25em;
      border-radius: 10%;
      font-weight: 500;
    }

    .status-buy {
      color: $coin-green;
      background-color: rgba(46, 189, 133, 0.24);
    }

    .status-sell {
      background-color: rgba(246, 70, 93, 0.24);
      color: $coin-red;
    }

    .status-cancel {
      background-color: rgba(57, 54, 54, 0.24);
    }
  }


  .amount-wrap, .price-wrap {
    margin-bottom: 0.5em;
    font-weight: 500;

    .amount-name, .price-name {
      color: #88909c;
    }
  }

}

.buy {
  color: $coin-green;
}

.sell {
  color: $coin-red;
}




// Desktop
@media screen and (min-width: 900px) {
  #main-wrap {
    width: 70%;
  }
}
