<main>
  <div id="main-wrap">
    <h1 class="page-title">Trades</h1>

    <div class="trades-container">
      <div class="trade-wrap">
        <div class="title-wrap">
          <span class="name">ADA/USD</span>
          <span class="date">2022-02-18 20:27:53</span>
        </div>
        <div class="action-wrap">
          <span class="action green">Limit/Buy</span>
          <span class="status">Filled</span>
        </div>

        <div class="amount-wrap">
          <span class="amount-name">Amount</span>
          <span class="amount-value">2</span>
        </div>

        <div class="price-wrap">
          <span class="price-name">Price</span>
          <span class="price-value">39,500</span>
        </div>
      </div>
    </div>
  </div>
</main>
