<main>
  <div id="main-wrap">
    <h1 class="page-title">Trades</h1>

    <div class="trades-container">
      <div *ngIf="trades.length === 0">
        You don't have any trades
      </div>

      <div class="trade-wrap" *ngFor="let trade of trades">
        <div class="title-wrap">
          <span class="name">{{trade.coinSymbol | uppercase}}/USD</span>
          <div class="action-wrap">
            <span class="date">{{trade.date}}</span>
            <img class="icon" (click)="onDelete(trade.id)" src="https://cdn-icons-png.flaticon.com/512/401/401036.png" alt="X" />
          </div>
        </div>
        <div class="action-wrap">
          <span class="action" [ngClass]="calculateClass(trade.type)">{{trade.action | titlecase}}/{{trade.type | titlecase}}</span>
          <span class="status" [ngClass]="calculateClassStatus(trade.type)">{{trade.status}}</span>
        </div>

        <div class="amount-wrap">
          <span class="amount-name">Amount</span>
          <span class="amount-value">{{trade.coinAmount}}</span>
        </div>

        <div class="price-wrap">
          <span class="price-name">Price</span>
          <span class="price-value">{{trade.price}}</span>
        </div>
        <mat-divider></mat-divider>
      </div>
    </div>
  </div>
</main>
