/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&family=Raleway:wght@200&display=swap');
$bg-color: #14161A;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: $bg-color;
  //background-color: grey;
}


html, body { height: 100%; }


// Animations
.appear {
  animation-name: appear;
  animation-duration: .7s;
  animation-timing-function: ease-in;
}


@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
