// Mobile
.carousel-container {
  background-image: url("../../../../assets/banner.jpg");
  padding-top: 40px;
}

.main-title {
  width: 100%;
  text-align: center;
  margin: 0 0 7px 0;

  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.001px;
}

.sub-text {
  width: 100%;
  text-align: center;
  font-weight: 200;
}

.carousel-wrap {
  width: 100%;
  height: 10em;
  margin: 1em auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hot-crypto-wrap {
  //border: 1px solid blue;
  width: 10em;

  display: flex;
  flex-direction: column;

  align-items: center;

  img {
    width: 3em;
    margin-bottom: 0.75em;
  }

  .name-wrap {
    display: flex;
    gap: 0.25em;
    margin-bottom: 0.1em;
  }

  .symbol {
    text-transform: uppercase;
  }

  .price {
    font-size: 1.25em;
    font-weight: 500;
  }
}

// Desktop

@media screen and (min-width: 600px) {
  .carousel-wrap {
    width: 70%;
    height: 15em;
  }

  .hot-crypto-wrap {
    width: 20em;

    .img {
      max-width: 5em;
    }
  }
}
