<div class="carousel-container" (window:resize)="onResize($event)">
  <h1 class="main-title">Crypto Tracker</h1>
  <div class="sub-text">Get All The Info Regarding Your Favorite Crypto Currency</div>

  <div class="carousel-wrap">

    <div class="hot-crypto-wrap appear" *ngFor="let coin of random_coins">
      <img src="{{coin.image}}" alt="coin"/>
      <div class="name-wrap">
        <span class="symbol">{{coin.symbol}}</span>
        <span class="price-change" [ngStyle]="{'color': (coin.price_change_percentage_24h >= 0) ? '#0ecb81' : 'red'}">
           {{coin.price_change_percentage_24h > 0 ? '+' + (coin.price_change_percentage_24h | roundNumber) :
          coin.price_change_percentage_24h | roundNumber}}%
        </span>
      </div>

      <span class="price">$ {{coin.current_price}}</span>
    </div>

  </div>
</div>
