.crypto-table-container {
  width: 70%;
  margin: 0 auto;

  //border: 1px solid red;
}


.title {
  width: 100%;
  text-align: center;
  margin: 0.5em 0;

  color: white;
  font-size: 2em;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}


.table-wrap {
  width: 100%;
  height: 600px;

  margin-top: 20px;

  //border: 1px solid blue;
}

table {
  font-family: Montserrat, sans-serif;
  border-collapse: collapse;
}

table th {
  width: 400px;
  height: 40px;
  background-color: orange;
}

table td {
  background-color: #16171A;
  color: white;
  text-align: center;
  font-weight: 400;
}

table tr {
  border-bottom: 1px solid #515151;
}

table th:first-child {
  border-top-left-radius: 5px;
}

table th:last-child {
  border-top-right-radius: 5px;
}

.coin {
  height: 5em;

  display: flex;
  align-items: center;

  padding-left: 1em;
  gap: 1em;

  img {
    width: 3em;
  }

  .name-container {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5em;

    .symbol {
      text-transform: uppercase;
      font-weight: 500;
    }

    .name {
      font-weight: 200;
    }
  }

}
