// Mobile
.crypto-table-container {
  margin-inline: 0.5em;
}

.title {
  text-align: center;
  margin: 0.5em;

  color: white;
  font-size: 1.5em;
  font-weight: 400;
}

table {
  border-collapse: collapse;
  width: 100%;

  tr {
    border-bottom: 1px solid #515151;
  }

  th {
    background-color: orange;

    &:first-child {
      border-top-left-radius: 5px;
    }

    &:last-child {
      border-top-right-radius: 5px;
    }
  }

  td {
    background-color: #16171A;
    color: white;
    text-align: center;
    font-weight: 400;
  }
}

.coin {
  height: 4em;

  display: flex;
  align-items: center;

  padding-left: 1em;
  gap: 1em;

  img {
    width: 2em;
  }

  .name-container {
    display: flex;
    flex-direction: column;
    align-items: start;

    .symbol {
      text-transform: uppercase;
      font-weight: 500;
    }

    .name {
      font-weight: 200;
    }
  }
}

.market-cap {
  width: 50%;
  overflow: hidden;
}


// Desktop
@media screen and (min-width: 600px) {
  .crypto-table-container {
    width: 70%;
    margin: 0 auto;
  }

  .title {
    font-size: 2em;
  }

  table th {
    width: 400px;
    height: 40px;
  }

  .coin {
    height: 5em;

    img {
      width: 3em;
    }

    .name-container {
      gap: 0.5em;
    }
  }
}
